 /* public/css/index.css */

/* Centrage vertical et horizontal du contenu */
  /* .container { */
     /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
     /* min-height: 100vh; */

 /* } */
/* .thead{
    background-color: rgb(255, 0, 170);
} */

/* Style pour le titre */
h1 {
    color: #12c189;
    font-size: 40px;
    margin-bottom: 20px;
}

/* Style pour le lien "Ajouter un étudiant" */
/* .btn-primary {
    margin-bottom: 5px;
} */

/* Style pour la table */
/* .table {
    width: 80%;
    background-color: #bf0f70;


} */

/* Style pour les boutons dans la table */
/* .btn {
    margin-right: 5px;
    justify-content: center;

} */
/* .th {
    background-color: #528499;

    padding: 8px;
    text-align: left;
} */
/* .table td {
    padding: 8px;
    border-bottom: 1px solid #dddddd;
} */
/* .tbody  {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    background-color: rgb(125, 23, 94);
} */
/* thead th {
    color: #a2a21d;
    padding: 8px;
    text-align: left;
} */
/* styles.css */

/* Style du tableau */
 .table {


    margin-bottom: 20px;
    background-color:#22de3b ;
}

/* Style des en-têtes de colonne */
.table th {
    background-color: #d480e1;
    /* padding: 10px; */

}

/* Style des cellules */
.table td {
    padding: 10px;
    border: bottom 4px;
    background-color: #fbf2f6;
    border: 1px solid #1d3956;
}

/* Style des boutons d'action */
.btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
}

.btn-primary:hover, .btn-danger:hover {
    opacity: 0.8;
}

.tbody{
    background-color: #edb316;
}
/* .thead{
    background-color: aqua;
} */
.tr{
    background-color: #b5600b ;
}
.card-header{
    background-color: #f073e0;
}
.card-body{
    background-color: #df7fb8;
}
